<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Логин</title>
	<style>
		section {
			max-width: 920px;
			margin: 70px auto;
			font-family: 'Open Sans', sans-serif;
		}
		input {
			padding: 10px;
			border-radius: 8px;
			border: 1px solid grey;
		}
	</style>
</head>
<body>
	<section>
		<h1>Введите ключ доступа</h1>
		<form action="admin_log">
			<input type="password" placeholder="Ключ доступа" name="key">
			<input type="submit">
		</form>
	</section>
</body>
</html>